@import "../base/variables" ;
@import "../base/extends.scss";

/* Comienzo de footer */

footer {
    @extend %display;
    justify-content: space-evenly;
    background-color: $bg-hyf;
    font-family: 'Merriweather', serif;
    margin-top: 10rem;

    @media (max-width: 800px) {
        margin-top: 5rem;
    }
}

footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    &:hover {
        color:rgb(136, 135, 135);
        
    }
    
}
/* Fin de footer */
