 @import "../base/variables" ;
 @import "../base/maps";
 @import "../base/extends.scss";
  
  /* Comienzo de header */
  header {
    background-color: $bg-hyf;
    
    
  }
  header nav {
    @extend %display;
    justify-content: space-around;

    
  }

  header nav ul {
    @media (max-width: 800px) {
      display: flex;
      flex-direction: column;
    }

  }

    .nav {
      margin-right: 2rem;
      font-family: "Merriweather", serif;   
      color: aliceblue;    
      &:hover {
        color:$bg-hover;

      }

    }


  /* Fin de header */