@import "../base/maps";

/* Estas 2 clases fue las que use para todos los archivos dentro de prendas */

.buzo {
    margin: auto;
    width: map-get($width, 50 );

}

.hoddies {

    width: map-get($width, 50 );
    margin-top: map-get($margin, arriba );
    margin-bottom: map-get($margin , abajo);

}

/* Comienzo de media para vista mobile */
@media (max-width: 800px)
 {
    .hoddies{
        width: map-get($width, 30 );

    }

    .buzo {
        margin: auto;
        width: map-get($width, 30 );
    }


}

/* Fin de vista mobile */ 
/* Fin clases de prendas */


